language: cpp
sudo: required
dist: trusty
before_install:
  - sudo apt-add-repository -y ppa:beineri/opt-qt-5.10.1-trusty
  - sudo apt-add-repository -y ppa:ubuntu-toolchain-r/test
  - sudo apt-get update -q
  - sudo apt-get install -y gcc-7 qt510-meta-minimal
script:
  - unset CC
  - export CC=gcc-6
  - unset CXX
  - export CSS=g++-6
  - source /opt/qt510/bin/qt510-env.s
  - qmake -v
  - gcc --version
  - CC=gcc-6 CXX=g++-6 qmake -r
  - CC=gcc-6 CXX=g++-6 make