language: cpp
sudo: required
dist: trusty
before_install:
  - sudo apt-add-repository -y ppa:beineri/opt-qt-5.10.1-trusty
  - sudo apt-add-repository -y ppa:ubuntu-toolchain-r/test
  - sudo apt-get update -q
  - sudo apt-get install -y gcc-7 g++-7 qt510-meta-minimal
script:
  - unset CC && export CC=gcc-7
  - unset CXX && export CXX=g++-7
  - source /opt/qt510/bin/qt510-env.sh
  - qmake -v && CC --version && CXX --version
  - qmake -r
  - make