language: cpp
sudo: required
dist: trusty
before_install:
  - sudo apt-add-repository -y ppa:beineri/opt-qt-5.10.1-trusty
  - sudo apt-add-repository -y ppa:ubuntu-toolchain-r/test
  - sudo apt-get update -q

install:
  - sudo apt-get install -y gcc-7 g++-7 qt510-meta-minimal
  - sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-7 90
  - sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-7 90
  - source /opt/qt510/bin/qt510-env.sh

script:
  - gcc --version
  - g++ --version
  - qmake -v
  - qmake -r
  - make